@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600;700;800;900&family=Barlow:wght@300;400;500;600;700;800;900&family=Bellefair&family=Cormorant+Unicase:wght@700&family=Gugi&family=Oxygen:wght@300;400;700&family=PT+Serif:wght@400;700&family=Radio+Canada:wght@300;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto+Condensed&family=Roboto:wght@400;500;700;900&family=Rubik+Wet+Paint&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}
.flex{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.flex button a{
  color: #fff;
  text-decoration: none;
}
.flex button{
  border: none;
  border-radius: 5px;
  color: #9c3233;
  border-top: 3px solid #9c3233;
  background: #9c3233;
  cursor: pointer;
  padding: .8% 1%;
  font-family: 'Radio Canada', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all .5s linear;
}
.flex button:hover{
  background: #df3b3ef7;
}
.flex2{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.flex2 button a{
  color: white;
  text-decoration: none;
}
.flex2 button{
  border: none;
  border-radius: 5px;
  color: #000;
  border-top: 3px solid #000;
  background: #000;
  cursor: pointer;
  padding: 2% 1%;
  font-family: 'Radio Canada', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all .5s linear;
}
.flex2 button:hover{
  background: rgb(54, 53, 53);
}
.flex3{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.flex3 button{
  border: none;
  border-radius: 5px;
  color: green;
  border-top: 3px solid green;
  background: green;
  cursor: pointer;
  padding: 2.5% 2%;
  font-family: 'Radio Canada', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all .5s linear;
}
.flex3 button a{
  color: white;
  text-decoration: none;
  transition: all .5s linear;
}
.flex3 button:hover{
  background: rgb(1, 181, 1);
}
.flex4{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.flex4 button a{
  text-decoration: none;
  color: white
}
.flex4 button{
  border: none;
  border-radius: 5px;
  color: orange;
  border-top: 3px solid orange;
  background: orange;
  cursor: pointer;
  padding: 2.5% 2%;
  font-family: 'Radio Canada', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all .5s linear;
}
.flex4 button:hover{
  background: rgb(235, 171, 54);
}